body {
    text-align: center;
    background-color: lightgray;
    margin: 0;
}

header {
    padding-top: 2%;
    padding-bottom: 2%;
    width: 100%;
    display: inline;
}

#logo {
    font-size: 50px;
    font-weight: 100%;
    color: white;
    float: left;
    background-color: darkblue;
    border-radius: 30%;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    background-color: #333;
    display: inline-block;
    width: 100%;
}



li {
    display: inline;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    color: black;
}

#box {
    background-color: white;
    width: 80%;
    padding-top: 1%;
    padding-bottom: 1%;
    margin-left: 10%;
    margin-right: 10%;
    text-align:left;
}

button, p {
    margin-left: 10px;
}

hr {
    width: 40%;
    margin: 0;
    margin-bottom: 20px;
}
